.navbar__container {
	display: flex;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.5rem;
	padding-left: 2rem;
	padding-right: 4rem;
	position: relative;
}

.logo-text {
	height: 32px;
	cursor: pointer;
}

.navbar__list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2.5rem;
	padding-left: 3rem;
}
.navbar__list li {
	font-size: 1rem;
	font-family: "CeraPro-Regular";
	font-weight: 100;
	cursor: pointer;
}

.mobile__toggle__container {
	display: none;
	justify-self: flex-start;
}
.mobile__toggle__icon {
	height: 32px;
	left: 0;
}

.mobiel__toggle__list {
	position: absolute;
	background-color: #f1ebff;
	width: 90%;
	margin-top: 1rem;
}
.mobiel__toggle__list li {
	margin: 1.5rem 1rem;
	text-align: start;
	font-family: "CeraPro-Regular";
	font-weight: 100;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.mobile__toggle__container {
		display: block;
	}
	.navbar__list {
		display: none;
	}
	.logo-text {
		text-align: center;
	}
	.navbar__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		top: 0;
		left: 0;
		padding: 1.2rem 1.2rem;
	}
}
