.outcomes__container__mobile {
	display: none;
}

.left__arrow {
	position: absolute;
	bottom: -4vh;
	right: 30vw;
	width: 1.5rem;
	z-index: 15;
}
.right__arrow {
	position: absolute;
	bottom: -4vh;
	left: 30vw;
	width: 1.5rem;
	z-index: 15;
}

@media screen and (max-width: 768px) {
	.outcomes__container__mobile {
		display: block;
	}
}
