@font-face {
	font-family: "Gascogne Regular";
	src: url("fonts/Gascogne-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

:root {
	--primary-color: #732eff;
}

button {
	background-color: var(--primary-color);
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: #eef6f6;
	border: none;
	font-size: 1.2rem;
	font-family: "CeraPro-Regular";
	cursor: pointer;
}
